<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  version="3.0" 
  metadata-complete="false"  
  xmlns="/xml/ns/javaee" 
  xmlns:xsi="/2001/XMLSchema-instance" 
  xsi:schemaLocation="/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>

	<context-param> 
	    <description>Location to store uploaded file</description> 
	    <param-name>file-upload-dir</param-name> 
	    <param-value>
	         D:\tmp
	     </param-value> 
	</context-param>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/MVC-servlet.xml</param-value>
	</context-param>

    <servlet>
		<servlet-name>MVC</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	</web-app>
